body {
    background: #20B2AA;
}
h1{
    text-align:center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.bomby{
    background-size:cover;
    background:url('bomb.svg');
    background-repeat: no-repeat;
}
.bombyFirst{
    transform:scale(1.5);
    background-size:cover;
    background:url('bomb.svg');
    background-repeat: no-repeat;
}

.grid {
    top:30%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #FF7F50;
    box-shadow: 0 0 10px black;
    resize: both;
    overflow: auto;
    margin:0 auto;
}

.grid div {
    display: flex;
    height: 50px;
    width: 50px;
    box-shadow: inset 0px 0px 2px 0px black;
    justify-content: center;
    align-items: center;

}

.grid div:active {
    height: 50px;
    width: 50px;
    box-shadow: inset 2px 2px 6px rgb(51, 46, 46);
    transform: scale(0.94);
}

.checked {
    background-color: #00FFFF;
}

.bomb {
    background-color: #FF7F50;

}

.flag {
    box-sizing: border-box;
}

.btn:focus { outline: none; };
.btn{
    border:none;
   margin-left:40%;
    margin-top:20px;
    font-size:20px;
    border-radius:20px;
    padding:5px;
    cursor:pointer;
}

@media screen and (max-width: 580px) {
    body {
    background:#20B2AA;
     
}
    .grid {
        top:30%;
        width: 360px;
        height: 360px;
       }

    .grid div {
        display: flex;
        height: 36px;
        width: 36px;
        }

    .grid div:active {
        height: 36px;
        width: 36px;
       }
    }
