body {
    background: lightskyblue;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.bomby{
    background-size:cover;
    background:url('bomb.svg');
}

.grid {

    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: gray;
    box-shadow: 0 0 10px black;
    resize: both;
    overflow: auto;
    margin:0 auto;
}

.grid div {
    display: flex;
    height: 70px;
    width: 70px;
    box-shadow: inset 0px 0px 2px 0px black;
    justify-content: center;
    align-items: center;

}

.grid div:active {
    height: 70px;
    width: 70px;
    box-shadow: inset 2px 2px 6px rgb(51, 46, 46);
    transform: scale(0.94);
}


.checked {
    background-color: rgba(255, 0, 0, 0.747);
}

.bomb {
    background-color: gray;

}

.flag {
    box-sizing: border-box;
}
